@import url(http://weloveiconfonts.com/api/?family=entypo);
/*
@media screen and (max-width: 500px) {
		  h1 {color: red}
*/

body {
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 100% 2em;
	background-image: url(images/Wood.jpg);
    background-attachment: fixed;
}

hr {
	border: solid 2px white;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 6vw;
}

img {
	width: 100%;
}

img:hover {
	opacity: .5;
}

h3 {
	font-weight: bold;
	text-align: center;
}

p {
	font-size: 1.2em;
	margin-bottom: 50px;
}

.small-images {
	max-width: 300px;
	margin: 0 auto;
}

.logo {
	margin-top: 15px;
}

a {
	color: 	#00FFFF;
}

a:visited { 
	color: 	#00FFFF; 
}

a:hover { 
	color: #06e; 
}​