@import url(http://weloveiconfonts.com/api/?family=entypo);

body {
	font-family: "Lato", sans-serif;
	color: white;
	font-size: 1.5em;
	background-image: url(images/Wood.jpg);
    background-attachment: fixed;
}

header {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

@media(max-width: 767px) {
	header {
		display: block;
	}
}

hr {
	border: solid 2px white;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 6vw;
}

img {
	width: 100%;
}

#header-image {
	width: 150px;
	height: auto;
}

.img-link:hover {
	opacity: 0.5;
}

h3 {
	font-weight: bold;
	text-align: center;
}

h2 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

p {
	font-size: 1.2em;
}

.p-tech {
	font-size: 1em;
	font-style: italic;
	margin-bottom: 50px;
}

.small-images {
	max-width: 150px;
	margin: 0 auto;
}

.logo {
	margin-top: 15px;
}

a {
	color: 	#00ffff;
}

a:visited { 
	color: 	#00ffff; 
}

a:hover { 
	color: #06e; 
}​
