@import url(http://weloveiconfonts.com/api/?family=entypo);
/*
@media screen and (max-width: 500px) {
		  h1 {color: red}
*/

body {
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 100% 2em;
	background-image: url(images/Wood.jpg);
    background-attachment: fixed;
}

hr {
	border: solid 2px white;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 6vw;
}

img {
	width: 100%;
}

img:hover {
	opacity: .5;
}

.small-images {
	max-width: 400px;
	margin: 0 auto;
}
